@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root {
  --fuente: "Open Sans", sans-serif;
  --rojo: #d03b40;
  --beige: #ded6c0;
  --blanco: #f5f0ed;
  --gris: #241d1b;

  --texto-claro: #f5f0ed;
  --texto-oscuro: #3c3c3b;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: var(--fuente);
  font-size: 1.6rem;
  background-color: var(--gris);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

.header {
  background-image: url(/images/Fondo1.jpg);
  min-height: 60rem;
}

.header,
.desayuno {
  background-position: center center;
  background-size: cover;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-mobile {
  background-color: var(--rojo);
  margin-top: 2rem;
}

.navegacion {
  display: none;
}

.contenido-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido-header h1,
.contenido-header p {
  text-align: center;
  color: var(--beige);
}

.contenido-header h1::after,
.contenido-desayuno h2::after {
  content: "";
  display: block; /* necesario para que se vea */
  background-color: var(--blanco);
  width: 50%;
  height: 6px;
  margin: 3rem auto 0;
}

.brunch,
.fiestas,
.informacion-contacto,
.informacion-ubicacion {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15rem
}

.brunch,
.informacion-contacto {
  background-color: var(--rojo);
  color: var(--beige);
}

.brunch h2,
.brunch p,
.fiestas h2,
.fiestas p,
.contenido-desayuno h2,
.contenido-desayuno p,
.informacion-contacto h3,
.informacion-contacto p,
.informacion-ubicacion h3,
.informacion-ubicacion p {
  margin-top: 3rem;
}

.brunch p,
.fiestas p,
.contenido-desayuno p,
.informacion-contacto p,
.informacion-ubicacion p {
  margin-bottom: 3rem;
}

.brunch h2,
.contenido-desayuno h2,
.informacion-contacto h3,
.informacion-ubicacion h3 {
  text-transform: uppercase;
}

.fiestas,
.informacion-ubicacion {
  background-color: var(--beige);
  color: var(--rojo);
}

.desayuno {
  background-image: url(/images/Fondo2.jpg);
  min-height: 30rem;
  position: relative;
}

.contenido-desayuno {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--beige);
}

.boton {
  color: var(--blanco);
  border: .5rem solid var(--blanco);
  padding: 1rem;
}

.bg-blanco {
  background-color: var(--blanco);
}

.productos {
  padding: 1rem;
}

.producto {
  margin-top: 3rem;
}

.producto img {
  display: block;
  margin: 0 auto;
  width: 10rem;
}

.producto div {
  margin-top: 3rem;
}

.producto h3 {
  margin-bottom: 3rem;
}

.bold {
  font-weight: bold;
}

footer {
  padding: 3rem;
  color: var(--blanco);
}


@media(min-width: 768px) {
  .header {
    min-height: 30rem;
  }

  .menu-mobile {
    display: none;
  }

  .navegacion {
    display: flex;
    gap: 1rem;
  }

  .navegacion a {
    color: var(--blanco);
  }

  .secciones {
    display: flex;
  }

  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .producto {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .producto img {
    width: 20%;
  }  
}